h1{
    text-align: center;
    font-size: 3rem;
    background-color:rgb(116, 201, 241);
    color: rgb(109, 0, 251) ;
    text-decoration: underline;
    border-radius: 0.5cm;
}
body {
    width: 50%;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(81, 130, 190, 0.5)
      ),
      url("https://cdn.shopify.com/s/files/1/0559/4280/7726/files/Jordan_4_2048x2048.jpg?v=1690209532");
    background-position: center;
    background-attachment: fixed;
    background-size: auto; /* keeps original size */
  }
p{
    font-size: 0.6cm;
    color: whitesmoke;
}
.jordan1{
    background-color:skyblue;
    border: solid black;
    border-radius: 0.5cm;
}
.jordan2{
    background-color:red ;
    border: solid black;
    border-radius: 0.5cm;
}
/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
